<div class="board">
    <table>
        <tr ng-repeat="row in board.rows">
            <td class="legend">{{row.rank}}</td>
            <td ng-repeat="cell in row.columns" ng-class="cell.isBlack ? 'black' : 'white'" ng-click="board.click(cell)">
                <span class="piece" ng-class="{selected: cell.piece.selected}">{{cell.piece | piece}}</span>
            </td>
        </tr>
        <tr class="legend">
            <td class="legend"></td>
            <td ng-repeat="file in board.enumFiles" class="legend">{{file}}</td>
        </tr>
    </table>
    <span>Turn: {{board.turn}}</span>
    <button ng-click="board.suggestMove()">Suggest move</button>{{board.suggestedMove}}
    <div>
        <label><input type="radio" value="computer" ng-model="board.mode" ng-change="board.autoMove()" /> Computer plays both</label>
        <label><input type="radio" value="white" ng-model="board.mode" ng-change="board.autoMove()" />I play white</label>
        <label><input type="radio" value="black" ng-model="board.mode" ng-change="board.autoMove()" />I play black</label>
        <label><input type="radio" value="human" ng-model="board.mode" ng-change="board.autoMove()" />Human vs Human</label>
    </div>
</div>