<div class="board">
    <table>
        <tr ng-repeat="row in board.rows">
            <td class="legend">{{row.rank}}</td>
            <td ng-repeat="cell in row.columns" ng-class="cell.isBlack ? 'black' : 'white'" ng-click="board.click(cell)">
                <span class="piece" ng-class="{selected: cell.piece.selected}">{{cell.piece | piece}}</span>
            </td>
        </tr>
        <tr class="legend">
            <td class="legend"></td>
            <td ng-repeat="file in board.enumFiles" class="legend">{{file}}</td>
        </tr>
    </table>
</div>